*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;

}

.card {
  width: 500px;
  height: 500px;
  background-color: pink;
  color: #000;
}
