.header {
    font-size: 24px;
    font-weight: 600;
}

.btn {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
